.row-header{
    margin: 0px auto;
    padding: 0px auto
}
.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color:#D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto; 
    background: rgb(149,117,205);
    background: linear-gradient(90deg, rgba(149,117,205,1) 9%, rgba(55,13,179,1) 37%, rgba(3,218,197,1) 100%);
    color: floralwhite;
}
.addres{
    font-size:80%;
    margin:0px;
    color:#0F0F0F;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar-dark{
    background-color: #0F0F0F;
    
}